header {
  z-index: 1;
}

.x-navbar-fixed-top {
  .home-link {
    background: $main-color;

    a {
      background: url(../img/Logo_small_white.png);
      background-size: auto 85%;
      background-position: center;
      background-repeat: no-repeat;
    }

    span {
      opacity: 0;
    }
  }
}

a.x-btn-navbar {
  margin-left: 1em;
}

.x-navbar .desktop .x-nav > li > a > span {
  border: none;
}

.masthead-stacked .x-navbar {
  text-align: left;
}

.x-navbar .mobile .x-nav li > a {
  margin: 0;
  border: none;
  background: #f9f9f9;
  text-align: center;
}

.x-navbar .desktop .x-nav > li:not(.home-link) {
  > a:not(.x-btn-navbar-woocommerce) {
    overflow: hidden;

    &:after {
      display: block;
      width: 100%;
      content: "";
      background: $main-color;
      height: 5px;
      bottom: -15px;
      position: relative;

      transition: bottom 0.3s ease;
    }
  }

  a span:before {
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
  }

  &.menu-experts {
    a span:before {
      content: "\f0eb";
    }
  }

  &.menu-projects {
    a span:before {
      content: "\f135";
    }
  }

  &.menu-blog {
    a span:before {
      content: "\f27a";
    }
  }

  &.menu-about {
    a span:before {
      content: "\f05a";
    }
  }
}

.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce):hover:after,
.x-navbar .desktop .x-nav > li.current-menu-item > a:not(.x-btn-navbar-woocommerce):after {
  bottom: -7px;
}

.user-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 21px;

  ul {
    display: flex;
    height: 100%;
    align-items: center;

    li {
      margin: 0 2em;

      a {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        color: $grey;
        font-size: 0.8em;

        &:hover, &:focus {
          color: $main-color;
        }
      }

      &.open-user-menu {
        a:after {
          display: inline-block;
          content: "▾";
          margin-left: 4px;
        }
      }
    }
  }

  .sub-menu {
    display: none;
  }
}

@media (min-width: 980px) {
  .x-navbar-inner {
    display: flex;
  }

  .user-menu {
    margin-left: auto;
    float: none;
    padding-top: 0;
    position: static;
  }
}
