@import 'variables';
@import 'mixins';
@import 'animations';
@import 'header';
@import 'projects';
@import 'experts';
@import 'expert-profile';
@import 'footer';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

a {
  color: $main-color;

  &:hover, &:focus {
    color: darken($main-color, 20);
  }
}

.x-main {
  background: $lightgrey;
}
