@charset "UTF-8";
@keyframes rocket_up {
  0% {
    transform: translateY(0) rotateZ(0); }
  25% {
    transform: translateY(0) rotateZ(-45deg); }
  100% {
    transform: translateY(-50px) rotateZ(-45deg); } }

@keyframes rocket_down {
  0% {
    transform: translateY(-50px) rotateZ(-45deg); }
  100% {
    transform: translateY(0) rotateZ(0); } }

header {
  z-index: 1; }

.x-navbar-fixed-top .home-link {
  background: #0386C2; }
  .x-navbar-fixed-top .home-link a {
    background: url(../img/Logo_small_white.png);
    background-size: auto 85%;
    background-position: center;
    background-repeat: no-repeat; }
  .x-navbar-fixed-top .home-link span {
    opacity: 0; }

a.x-btn-navbar {
  margin-left: 1em; }

.x-navbar .desktop .x-nav > li > a > span {
  border: none; }

.masthead-stacked .x-navbar {
  text-align: left; }

.x-navbar .mobile .x-nav li > a {
  margin: 0;
  border: none;
  background: #f9f9f9;
  text-align: center; }

.x-navbar .desktop .x-nav > li:not(.home-link) > a:not(.x-btn-navbar-woocommerce) {
  overflow: hidden; }
  .x-navbar .desktop .x-nav > li:not(.home-link) > a:not(.x-btn-navbar-woocommerce):after {
    display: block;
    width: 100%;
    content: "";
    background: #0386C2;
    height: 5px;
    bottom: -15px;
    position: relative;
    transition: bottom 0.3s ease; }

.x-navbar .desktop .x-nav > li:not(.home-link) a span:before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px; }

.x-navbar .desktop .x-nav > li:not(.home-link).menu-experts a span:before {
  content: "\f0eb"; }

.x-navbar .desktop .x-nav > li:not(.home-link).menu-projects a span:before {
  content: "\f135"; }

.x-navbar .desktop .x-nav > li:not(.home-link).menu-blog a span:before {
  content: "\f27a"; }

.x-navbar .desktop .x-nav > li:not(.home-link).menu-about a span:before {
  content: "\f05a"; }

.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce):hover:after,
.x-navbar .desktop .x-nav > li.current-menu-item > a:not(.x-btn-navbar-woocommerce):after {
  bottom: -7px; }

.user-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 21px; }
  .user-menu ul {
    display: flex;
    height: 100%;
    align-items: center; }
    .user-menu ul li {
      margin: 0 2em; }
      .user-menu ul li a {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        color: #7c7c7c;
        font-size: 0.8em; }
        .user-menu ul li a:hover, .user-menu ul li a:focus {
          color: #0386C2; }
      .user-menu ul li.open-user-menu a:after {
        display: inline-block;
        content: "▾";
        margin-left: 4px; }
  .user-menu .sub-menu {
    display: none; }

@media (min-width: 980px) {
  .x-navbar-inner {
    display: flex; }
  .user-menu {
    margin-left: auto;
    float: none;
    padding-top: 0;
    position: static; } }

ul#projects {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 3px lightgrey; }
  ul#projects > li:nth-child(even) figure figcaption ul.categories {
    right: auto;
    left: 5px; }
  ul#projects > li figure {
    margin: 0;
    display: flex;
    position: relative;
    transform: scale3d(1, 1, 1) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: transform 0.3s ease; }
    ul#projects > li figure .project-img-wrap, ul#projects > li figure figcaption {
      width: 50%; }
    ul#projects > li figure figcaption {
      padding: 30px 40px;
      background: white;
      position: relative; }
      ul#projects > li figure figcaption h3 {
        margin-top: 0;
        font-size: 1.6em;
        color: #0386C2;
        display: inline; }
      ul#projects > li figure figcaption ul.categories {
        text-align: center;
        list-style: none;
        display: inline-flex;
        margin: 0 0 0 10px;
        font-style: italic; }
        ul#projects > li figure figcaption ul.categories li {
          width: 20px; }
          ul#projects > li figure figcaption ul.categories li:before {
            content: "";
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 0.8em;
            color: white; }
          ul#projects > li figure figcaption ul.categories li.finance:before {
            color: #AA272D;
            content: "fi"; }
          ul#projects > li figure figcaption ul.categories li.marketing:before {
            color: #DEB12D;
            content: "ma"; }
          ul#projects > li figure figcaption ul.categories li.it:before {
            color: #2462B0;
            content: "it"; }
          ul#projects > li figure figcaption ul.categories li.law:before {
            color: #6B6B6B;
            content: "la"; }
      ul#projects > li figure figcaption .project-meta {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        font-family: Montserrat, sans-serif;
        font-size: 0.8em; }
        ul#projects > li figure figcaption .project-meta .end-date {
          text-align: center;
          min-width: 100px;
          color: #0386C2; }
        ul#projects > li figure figcaption .project-meta .date-progress {
          height: 3px;
          background: #0386C2; }
  ul#projects > li span.project-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    margin-left: -21px;
    margin-top: -22px;
    background: white;
    border-radius: 0;
    transform: rotateZ(44deg) scale3d(1, 1, 1);
    background: white;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease; }
    ul#projects > li span.project-icon span {
      display: block;
      transform: rotateZ(-44deg); }
      ul#projects > li span.project-icon span .x-icon {
        opacity: 0;
        font-size: 24px;
        line-height: 24px;
        margin: 10px;
        position: relative;
        bottom: 0;
        transform: translateY(0) rotateZ(0);
        animation: rocket_down 0.1s ease;
        -webkit-animation: rocket_down 0.1s ease; }
  ul#projects a {
    color: inherit; }
    ul#projects a:hover figure, ul#projects a:focus figure {
      transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
      z-index: 1; }
    ul#projects a:hover span.project-icon, ul#projects a:focus span.project-icon {
      transform: rotateZ(44deg) scale3d(1.3, 1.3, 1); }
      ul#projects a:hover span.project-icon .x-icon, ul#projects a:focus span.project-icon .x-icon {
        opacity: 1;
        color: #0386C2;
        animation: rocket_up 2s ease infinite;
        -webkit-animation: rocket_up 2s ease infinite; }

ul#experts {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul#experts li {
    margin: 10px 0; }
  ul#experts .expert-info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 0.9em;
    color: darkgrey; }
  ul#experts figure {
    display: flex;
    margin: 0;
    border-radius: 80px 0 0 80px;
    box-shadow: 0 0 3px lightgrey;
    overflow: hidden;
    background: white;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s ease; }
    ul#experts figure .expert-img-wrap {
      width: 80px;
      overflow: hidden;
      height: 80px; }
    ul#experts figure figcaption {
      display: flex;
      padding: 0 5px; }
      ul#experts figure figcaption ul.categories {
        text-align: center;
        list-style: none;
        display: inline-flex;
        margin: 0 0 0 10px;
        font-style: italic;
        align-items: center; }
        ul#experts figure figcaption ul.categories li {
          width: 20px; }
          ul#experts figure figcaption ul.categories li:before {
            content: "";
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 0.8em;
            color: white; }
          ul#experts figure figcaption ul.categories li.finance:before {
            color: #AA272D;
            content: "fi"; }
          ul#experts figure figcaption ul.categories li.marketing:before {
            color: #DEB12D;
            content: "ma"; }
          ul#experts figure figcaption ul.categories li.it:before {
            color: #2462B0;
            content: "it"; }
          ul#experts figure figcaption ul.categories li.law:before {
            color: #6B6B6B;
            content: "la"; }
      ul#experts figure figcaption > div {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      ul#experts figure figcaption h3 {
        font-size: 1.3em;
        margin: 0; }
  ul#experts a {
    color: inherit; }
    ul#experts a:hover figure, ul#experts a:focus figure {
      transform: scale3d(1.02, 1.02, 1.02); }

.expert-profile header {
  background: url("../img/clean_textile.png") repeat;
  padding: 20px 0;
  border-top: 3px solid #eaeaea;
  box-shadow: 0 0 3px lightgrey;
  position: relative;
  top: 90px; }
  .expert-profile header figure {
    text-align: center;
    margin: 0;
    position: relative;
    top: -90px; }
    .expert-profile header figure .entry-featured {
      border-radius: 100%;
      overflow: hidden;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border: 3px solid #eaeaea; }
    .expert-profile header figure .expert-img-wrap {
      border-radius: 100%;
      box-shadow: 0 0 5px lightgrey;
      overflow: hidden;
      width: 100%;
      height: 100%; }
    .expert-profile header figure figcaption h2 {
      margin: 10px 0 0;
      color: #656565;
      font-size: 1.75em;
      letter-spacing: 1px; }
    .expert-profile header figure figcaption h3 {
      margin: 0;
      color: darkgrey;
      font-size: 1.25em; }
  .expert-profile header #expert-nav {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .expert-profile header #expert-nav ul {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center; }
      .expert-profile header #expert-nav ul li {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3; }
        .expert-profile header #expert-nav ul li a {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 100%;
          padding: 10px;
          background-color: white;
          transition: background-color 0.3s ease;
          border-top: 2px solid transparent; }
          .expert-profile header #expert-nav ul li a i {
            font-size: 1.3em; }
          .expert-profile header #expert-nav ul li a:hover, .expert-profile header #expert-nav ul li a:active {
            background-color: #f3f3f3;
            border-top: 2px solid; }
        .expert-profile header #expert-nav ul li:last-of-type {
          border-right: none; }

.expert-profile .expert-content-boxes-wrapper {
  margin-top: 120px; }
  .expert-profile .expert-content-boxes-wrapper .edit-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    top: 0;
    left: 0;
    padding: 100px 50px; }
    .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner {
      background: white;
      width: 100%;
      height: auto;
      max-width: 768px;
      margin: 0 auto;
      box-shadow: 0 0 25px black; }
      .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-header {
        background: #f3f3f3;
        padding: 20px;
        display: flex;
        align-items: center; }
        .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-header h3 {
          margin: 0;
          font-size: 1.5em; }
        .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-header > a {
          margin-left: auto;
          font-size: 1.3em; }
      .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-main  {
        padding: 20px; }
        .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-main  textarea {
          width: 100%;
          min-height: 150px;
          border-radius: 5px; }
      .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-footer {
        display: flex;
        align-items: center;
        padding: 20px; }
        .expert-profile .expert-content-boxes-wrapper .edit-box .edit-inner .edit-footer .edit-submit {
          margin-right: 10px; }
  .expert-profile .expert-content-boxes-wrapper > div {
    padding: 20px 40px 40px;
    margin: 0 0 25px;
    background: white;
    box-shadow: 0 0 3px lightgrey;
    position: relative; }
    .expert-profile .expert-content-boxes-wrapper > div div.box-header {
      text-align: center;
      margin-bottom: 20px; }
      .expert-profile .expert-content-boxes-wrapper > div div.box-header i {
        font-size: 2em;
        line-height: 1.5; }
      .expert-profile .expert-content-boxes-wrapper > div div.box-header h3 {
        margin: 0;
        font-size: 1.75em; }
      .expert-profile .expert-content-boxes-wrapper > div div.box-header a.edit-section {
        position: absolute;
        top: 10px;
        right: 10px; }
        .expert-profile .expert-content-boxes-wrapper > div div.box-header a.edit-section i {
          font-size: 1.2em; }
    .expert-profile .expert-content-boxes-wrapper > div#experience {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience {
        text-align: center;
        margin: 0;
        list-style: none; }
        .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience li {
          margin: 0 auto;
          max-width: 460px;
          position: relative;
          padding: 1em 0;
          border-left: 0.2em solid #0386C2; }
          .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience li:before {
            content: "";
            display: block;
            width: 1em;
            height: 1em;
            background: white;
            position: absolute;
            left: -0.55em;
            border-radius: 100%;
            top: 50%;
            margin-top: -0.5em;
            border: 0.2em solid #0386C2; }
          .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience li .edit-section {
            position: absolute;
            top: 1em;
            right: 1em; }
        .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience .timespan {
          color: darkgrey; }
        .expert-profile .expert-content-boxes-wrapper > div#experience ul.experience h4 {
          font-size: 1.2em;
          text-transform: uppercase;
          margin: 0 0 0.2em 0.4em;
          display: inline-block; }
    .expert-profile .expert-content-boxes-wrapper > div#skills {
      float: left;
      width: 49%; }
      .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills {
        margin: 0;
        list-style: none; }
        .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills li {
          position: relative;
          margin-bottom: 1.5em; }
        .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills .edit-section {
          position: absolute;
          top: 0;
          right: 1em; }
        .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills h4 {
          font-size: 1.2em;
          text-transform: uppercase;
          margin: 0 0 0.4em; }
        .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills .skill-level {
          font-weight: bold;
          font-size: 0.8em;
          color: #0386C2; }
        .expert-profile .expert-content-boxes-wrapper > div#skills ul.skills .skill-level-bar {
          height: 0.3em;
          background: #0386C2;
          border-radius: 0 0.2em 0.2em 0; }
    .expert-profile .expert-content-boxes-wrapper > div#projects {
      clear: both; }

footer.x-colophon.top {
  background: url("../img/dark_wall.png") repeat;
  color: darkgrey; }
  footer.x-colophon.top img.logo {
    width: 200px;
    display: block;
    margin-bottom: 20px; }
  footer.x-colophon.top h4 {
    color: darkgrey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    margin-bottom: 1em; }
  footer.x-colophon.top .menu li {
    border-bottom: 1px dotted #323232;
    text-transform: none;
    letter-spacing: normal; }
    footer.x-colophon.top .menu li:first-child {
      border-top: 1px dotted #323232; }
    footer.x-colophon.top .menu li a {
      color: #656565;
      margin: 5px 0 5px 21px; }
      footer.x-colophon.top .menu li a:hover, footer.x-colophon.top .menu li a:focus {
        color: white; }

footer.x-colophon.bottom {
  padding: 1% 0; }

.x-scroll-top.right {
  right: 10px;
  border-radius: 100%;
  padding-top: 2px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

a {
  color: #0386C2; }
  a:hover, a:focus {
    color: #01415e; }

.x-main {
  background: #f3f3f3; }
